oat/openadmin/plugin/ibm/er/services/CM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
    <definitions name="CM" targetNamespace="urn:CM"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:typens="urn:CM"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        	xmlns:tns="urn:CM" targetNamespace="urn:CM">
        	<xsd:complexType name="anyType"></xsd:complexType>
        </xsd:schema>
    </types>

    <!-- Messages are the 'function' signatures -->

    <wsdl:message name="getConnectionManagersRequest">
    	<wsdl:part name="rows_per_page" type="xsd:integer"></wsdl:part>
    	<wsdl:part name="page" type="xsd:integer"></wsdl:part>
    	<wsdl:part name="sort_col" type="xsd:string"></wsdl:part>
    	<wsdl:part name="search_pattern" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getConnectionManagersResponse">
    	<wsdl:part name="return" type="xsd:anyType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="postCMEventRequest">
    	<wsdl:part name="query" type="xsd:string"></wsdl:part>
    	<wsdl:part name="opType" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="postCMEventResponse">
    	<wsdl:part name="return" type="xsd:anyType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Request">
    	<wsdl:part name="Request" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Response">
    	<wsdl:part name="Response" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <portType name="CMPort">			
        <wsdl:operation name="getConnectionManagers">
        	<wsdl:input message="typens:getConnectionManagersRequest"></wsdl:input>
        	<wsdl:output message="typens:getConnectionManagersResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postCMEvent">
        	<wsdl:input message="typens:postCMEventRequest"></wsdl:input>
        	<wsdl:output message="typens:postCMEventResponse"></wsdl:output>
        </wsdl:operation>
    </portType>


    <!-- define protocol details for each Ports -->
    <binding name="CMBinding" type="typens:CMPort">

    	<soap:binding style="rpc"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="getConnectionManagers">
    		<soap:operation soapAction="urn:CM/getConnectionManagers" />
    		<wsdl:input>
    			<soap:body use="encoded" namespace="urn:CM"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="encoded" namespace="urn:CM"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="postCMEvent">
    		<soap:operation soapAction="urn:CM/postCMEvent" />
    		<wsdl:input>
    			<soap:body use="encoded" namespace="urn:CM"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="encoded" namespace="urn:CM"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    </binding>


    <wsdl:service name="CMService">
    	<wsdl:port name="CMPort" binding="typens:CMBinding">
    		<soap:address location="CMService.php" />
    	</wsdl:port>
    </wsdl:service>
</definitions>

